# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments & Secret keys
.env
.env.*
!.env.example
venv/
env/
ENV/
.venv/

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
